@use '../variables' as *;
@use '../mixins'    as *;

.header-main {
  // background: #F4F4F4;
  padding: 24px 40px;
  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr auto auto;
  gap: 35px;
  position: relative;
}

.burger-menu {
  background: $color-primary;
  // padding: 16px 32px;
  width: 101px;
  height: 48px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 32px;

  &:hover {
    background: $color-gray-light;

    .burger-line {
      background: $color-text;
    }
  }
}

.burger-line {
  background: $color-bg;
  height: 2px;
  width: 38px;
  border-radius: 1px;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger-line:nth-child(2) {
  width: 24px;
  margin-right: 14px;
}
.burger-menu.active .burger-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
  width: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}








.header-content {
  display: flex;
  align-items: center;
}


.search-container {
  display: flex;
  align-items: center;
  border: 1px solid rgba(72, 136, 255, 0.2);
  border-radius: 8px;
  padding: 14px 0;
  width: 100%;
  max-width: 100%;
  height: 48px;
  margin-right: 24px;
}

.search-input {
  flex: 1;
  border: none;
  font-size: 16px;
  color: $color-text;
  padding-left: 24px;
}


.search-btn {
  background: $color-primary;
  font-size: 14px;
  color: $color-bg;
  border-radius: 4px;
  padding: 11px 20px;
  height: 40px;
  cursor: pointer;
  margin-left: 12px;
  transition: background 0.2s;
  margin-right: 4px;
}

.search-btn:hover {
  background: #397be5;
}






.header-contacts {
  display: flex;
  a {
    background: $color-bg-light;
    padding: 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-right: 10px;
    svg {
      font-size: 24px;
      margin-bottom: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: $color-primary;
      color: $color-bg;
    }
  }
}








.lang-switcher {
  display: flex;
  align-items: center;
  gap: 6px;
}
.globe {
  display: flex;
  align-items: center;
  svg {
    font-size: 24px;
  }
}
.lang {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}
.lang.active {
  color: $color-text;
  font-weight: 600;
}
.lang:not(.active) {
  color: #b3bfcf;
}
.divider {
  font-size: 16px;
  color: $color-text;
  margin: 0 4px;
}








.header-icons {
  button {
    padding: 11px;
    border: 1px solid #D3D3D3;
    background: $color-bg;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 0.3s ease;
    svg {
      font-size: 24px;
      margin-bottom: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: $color-primary;
      color: $color-bg;
    }
  }
}








.header-line {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  a {
    background: $color-bg-light;
    padding: 11px 30px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
    font-size: 16px;
    color: $color-text;
    // margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      margin-right: 10px;
      color: rgba($color-primary, 0.5);
      font-size: 20px;
      margin-bottom: 0;
    }
    &:hover {
      background: $color-primary;
      color: $color-bg;
      svg {
        color: $color-bg;
      }
    }
  }
}

.header-left {
  a {
    padding: 6px 10px;
    color: $color-primary;
    svg {
      color: $color-primary;
      font-size: 16px;
    }
  }
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}