// breakpoints
$bp-desktop: 1280px;
$bp-tablet: 1024px;
$bp-mobile: 768px;

// colors
$color-primary: #4888FF;
$color-text: #343A3F;
$color-bg: #ffffff;
$color-bg-light: #F4F4F4;
$color-gray-light: #E8E8E8;
// typography
$font-main: 'Maza', sans-serif;